
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body{
    /* background-color: linear-gradient(45 deg, #00c6ff, #0072ff); */
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-box{
   
    border: 1px solid #717377;
    border-radius: 16px;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
}
input{
    width: 350px;
    height: 50px;
    border: none;
    border-radius: 8px;
    padding: 24px;
    margin: 10px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
    background-color: transparent;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffff;
}
input::placeholder{
    color: #ffff;
}
button{
    border: none;
    margin: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: transparent;
    color: #ffff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.1);
}
.ope{
    color: #10ad3a;
}
.equal{
    background-color: #dbd531;
    color: #ffff;
}
